{% load staticfiles %}

<script language="JavaScript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
    
<link href="{% static "google_login/css/google-login-style.css" %}" rel="stylesheet">

<style>
body,html{width=100%; height=100%;}
#google-reset-passReset{
    background-color: #3E85DD;
}
#google-submit-passReset{
    background-color: #E24444;
}
#google_login_password_reset ul{
display: block;
list-style-type: none;
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;
}
}


</style>

<form id="google_login_password_reset" action="{% url 'google_login.views.passwordReset' %}" method="post">{% csrf_token %}
<ul>
    <li>{{ passwordForm.password1 }}</li>
    <li>{{ passwordForm.password2 }}</li>
</ul>
<button id="google-submit-passReset" class="google-button" type="submit">Submit</button>
<button id="google-reset-passReset" class="google-button" type="reset">Reset</button>
</form>


<script src="{% static "google_login/js/change_password.js" %}"></script>
