{% load staticfiles %}

<script language="JavaScript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script language="JavaScript" type="text/javascript" src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
    
<link href="{% static "google_login/css/google-login-style.css" %}" rel="stylesheet">

<div id="google-login-clicker">Sign In</div>
<div id="google-login-shade" style="display: none;"></div>
<div id="google_login_form" style="display: none;">
    <div class="google-login-title">Account Login</div>
    <a href="/google/auth/" class="zocial googleplus">Sign in with Google</a>
    <form id="google-authorization-form" autocomplete="off">{% csrf_token %}
        <ul>
            <li><div id="google-login-error">incorrect username or password</div></li>
            <li><div class="google-input-holder">
                    <img src="{% static "google_login/images/username_logo.png" %}" alt="user"/>
                    <input id="google-username" type="text" name="username" value="" placeholder="Username or email..." autofocus>
            </div></li>
            <li><div class="google-input-holder">
                    <img src="{% static "google_login/images/password_logo.png" %}" alt="user"/>
                    <input id="google-password" type="password" name="password" value="" placeholder="Password...">
            </div></li>
            <button id="google-sign-in" class="google-button">SIGN IN</button>
            <button id="google-sign-up" class="google-button">SIGN UP</button>
        </ul>
    </form>
    <div class="forgot-password">forgot my username or password</div>
</div>

<div id="google_register_form" style="display: none; width:400px;height:360px;">
    <div class="google-login-title">Sign Up</div>
    <a href="/google/auth/" class="zocial googleplus">Sign up with your Google account</a>
    <form id="google-registration-form" autocomplete="off">
        <div id="register-check-username" class="register-check-good"></div>
        <div id="register-check-email" class="register-check-good"></div>
        <div id="register-check-password" class="register-check-good"></div>
        <ul>
            <li><div id="username-register-error" class="error-panel"></div></li>
            <li><div class="google-input-holder">
                    <img src="{% static "google_login/images/username_logo.png" %}" alt="user"/>
                    <input id="google-register-username" type="text" name="username" value="" placeholder="Username..." autofocus>
            </div></li>
            <li><div id="email-register-error" class="error-panel"></div></li>
            <li><div class="google-input-holder">
                    <img src="{% static "google_login/images/email_logo.png" %}" alt="user"/>
                    <input id="google-register-email" type="email" name="email" value="" placeholder="Email...">
            </div></li>
            <li><div id="password-register-error" class="error-panel"></div></li>
            <li><div class="google-input-holder">
                    <img src="{% static "google_login/images/password_logo.png" %}" alt="user"/>
                    <input id="google-register-password" type="password" name="password" value="" placeholder="Password...">
            </div></li>
            <button id="google-register-submit" class="google-button">REGISTER</button>
        </ul>
    </form>
    <div class="forgot-password">forgot my username or password</div>
</div>

<div id="google_forgot_form" style="display: none;height: 250px;">
    <div class="google-login-title">Reset Sign In</div>
    <a href="/google/auth/" class="zocial googleplus">Sign in with Google</a>
    <form id="google-forgot-form" autocomplete="off">{% csrf_token %}
        <div id="forgot-check-email" class="register-check-good"></div>
        <ul>
            <li><div id="email-forgot-error" class="error-panel"></div></li>
            <li><div class="google-input-holder">
                    <img src="{% static "google_login/images/email_logo.png" %}" alt="user"/>
                    <input id="google-forgot-email" type="email" name="email" value="" placeholder="Email...">
            </div></li>
            <button id="google-forgot-submit" class="google-button">SEND</button>
        </ul>
    </form>
</div>

<script>

$(document).ready(function(){
    $("#google-sign-in").click(function(e){
        //console.log('click');
        e.preventDefault();
        var username = $("#google-username").val();
        var password = $("#google-password").val();
        checkUser(username, password);
    });


});


// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}



    /************************** check login ****************************************************************************88*******/
	function checkUser(username, password) {
		//console.log('In tweetSubmit');
            var csrftoken = getCookie('csrftoken');
            var uri = "{% url 'google_login.views.ajaxAuth' %}";
            var xhr = new XMLHttpRequest();
            var fd = new FormData();
            
            xhr.open("POST", uri, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // Handle response.
		            console.log(xhr.responseText);
                    var data = JSON.parse(xhr.responseText)
		            //console.log(data);
		            if (data.error) {
                        //alert(data.error);
                        $("#google-login-error").fadeIn(600);
                    }
		            else{
                        window.location.href="{% url 'google_login.views.success' %}"
                    }
                }
            };
	        xhr.timeout = 4000;
	        xhr.ontimeout = function () { location.reload(); }
            fd.append('username', username);
            fd.append('password', password);
            // Initiate a multipart/form-data upload
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            xhr.send(fd);
	    //console.log( xhr._object);
        }
	

    /************************** check username ****************************************************************************88*******/
	function doesUsernameExist(username) {
		//console.log('In tweetSubmit');
            var csrftoken = getCookie('csrftoken');
            var uri = "{% url 'google_login.views.checkUsername' %}";
            var xhr = new XMLHttpRequest();
            var fd = new FormData();
            
            xhr.open("POST", uri, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // Handle response.
		            //console.log(xhr.responseText);
                    var data = JSON.parse(xhr.responseText)
		            //console.log(data);
		            if (data.error) {
                        //alert(data.error);
                    }
		            else{
                        if (data.exists == 'true'){
                            $("#username-register-error").html('already exists');
                            $("#username-register-error").fadeIn(600);
                            $("#google-register-username").addClass('register-input-error');
                            //console.log(top);
                            setCheckSignalPosition();
                            $("#register-check-username").addClass('register-check-error');
                            $("#register-check-username").removeClass('register-check-good');
                            $("#register-check-username").fadeIn(600);
                        }
                    }
                }
            };
	        xhr.timeout = 4000;
	        xhr.ontimeout = function () { location.reload(); }
            fd.append('username', username);
            // Initiate a multipart/form-data upload
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            xhr.send(fd);
	    //console.log( xhr._object);
        }
	

    /************************** check username ****************************************************************************88*******/
	function doesEmailExist(email) {
		//console.log('In doesEmailExist');
            var csrftoken = getCookie('csrftoken');
            var uri = "{% url 'google_login.views.doesEmailExist' %}";
            var xhr = new XMLHttpRequest();
            var fd = new FormData();
            
            xhr.open("POST", uri, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // Handle response.
		            //console.log(xhr.responseText);
                    var data = JSON.parse(xhr.responseText)
		            //console.log(data);
		            if (data.error) {
                        //alert(data.error);
                    }
		            else{
                        if (data.exists == 'true'){
                            $("#email-register-error").html('already exists');
                            $("#email-register-error").fadeIn(600);
                            $("#google-register-email").addClass('register-input-error');
                            //console.log(top);
                            setCheckSignalPosition();
                            $("#register-check-email").addClass('register-check-error');
                            $("#register-check-email").removeClass('register-check-good');
                            $("#register-check-email").fadeIn(600);
                        }
                    }
                }
            };
	        xhr.timeout = 4000;
	        xhr.ontimeout = function () { location.reload(); }
            fd.append('email', email);
            // Initiate a multipart/form-data upload
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            xhr.send(fd);
	    //console.log( xhr._object);
        }
	



    /************************** submit registration ****************************************************************************88*******/
	function submitRegistration() {
		//console.log('In submitRegistration');
            var csrftoken = getCookie('csrftoken');
            var uri = "{% url 'google_login.views.submitRegistration' %}";
            var xhr = new XMLHttpRequest();
            var fd = new FormData();
            
            xhr.open("POST", uri, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // Handle response.
		            //console.log(xhr.responseText);
                    var data = JSON.parse(xhr.responseText)
		            //console.log(data);
		            if (data.error) {
                        alert(data.error);
                    }
		            else{
                        window.location.href="{% url 'google_login.views.success' %}"
                    }
                }
            };
	        xhr.timeout = 4000;
	        xhr.ontimeout = function () { location.reload(); }
            fd.append('username', $("#google-register-username").val());
            fd.append('email', $("#google-register-email").val());
            fd.append('password', $("#google-register-password").val());
            // Initiate a multipart/form-data upload
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            xhr.send(fd);
	    //console.log( xhr._object);
        }
	


submitPasswordForgot
    /************************** submit Forgot Password ****************************************************************************88*******/
	function submitPasswordForgot(email) {
		//console.log('In submitPasswordForgot');
            var csrftoken = getCookie('csrftoken');
            var uri = "{% url 'google_login.views.submitPasswordForgot' %}";
            var xhr = new XMLHttpRequest();
            var fd = new FormData();
            
            xhr.open("POST", uri, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    // Handle response.
		            //console.log(xhr.responseText);
                    var data = JSON.parse(xhr.responseText)
		            //console.log(data);
		            if (data.error) {
                        alert(data.error);
                    }
		            else{
                        alert('Your reset link was sent to your email.');
                        $("#google-login-shade").click();
                    }
                }
            };
	        xhr.timeout = 4000;
	        xhr.ontimeout = function () { location.reload(); }
            fd.append('email', email);
            // Initiate a multipart/form-data upload
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            xhr.send(fd);
	    //console.log( xhr._object);
        }
	





</script>


<script src="{% static "google_login/js/center_google_login.js" %}"></script>









